body {
  --text-color: #222;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-sheme: dark) {
  /* Defaults to dark theme. */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background: var(--bkg-color);
    color: var(--text-color);
}
